.form__fieldset{ 
    padding-top: 27px;
    border:0;
    border-bottom: 1px solid $color-greySeparator;
    max-width: 320px;
    margin: 0 auto;
}

.form__share {
    @include flexColumnCentered();
}

.fieldset__title{
    display:flex;
    align-items: center;
}

.form__icons{
    color: $color-orangeIcons;
    display:inline-block;
}

.form__arrow-icons{
    color: $color-greyText;
    align-self: flex-end;
    align-items: center; 
    height: 18px;
}

.form__card-icon{
    color: $color-white100;
    font-size: 1.375rem;
}

.fieldset__title-text{
    color: $color-greyText;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 600;
    flex-grow:1;
    padding-left:10px;
}

.fieldset__theme-container{
    display:flex;
    justify-content: space-between;
    padding-left:19px;
}

.theme__description{
    margin-top:23px;
    color: $color-greyText;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size:0.875; 
}

.form__share-subtitle {
    font-size: 1.125rem;
    font-family: $font-primary;
    color: $color-greyText;
    text-align: center;
}
.card__created {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid $color-greySeparator;
    @include flexColumnCentered();
}
.share__twitter {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 181px;
    height: 30px;
    font-family: $font-primary;
    font-size: 0.875rem;
    color: $color-white100;
    background-color: $color-blueTwitter;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 $color-greyText;
}
.form__icons-twitter {
    color: $color-white100;
    font-size: 1.125rem;
}
.card__link {
    margin-top: 5px;
    color: $color-orangeIcons;
    font-size: 0.75rem;
    font-family: $font-primary;
    text-decoration: none;
    font-weight: 600;
}