.section__preview {
    background-image: linear-gradient(to bottom, #bfcdd0, #dde9ed);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 38px 35px 40px 45px;
}

.card__preview {
    background-color: #fff;
    height: 329px;
    width: 240px;
    padding: 21px 0 12px 20px;
    box-shadow: 0 1px 10px 0 grey;
}

