<aside class="section__preview">
    <div>  
        <button class="button__reset"><i class="far fa-trash-alt"></i> Reset</button>
        <section class="card__preview">
            <p class="name">Nombre Apellido</p>
            <p class="job">Front-end developer</p>
            <img class="card__photo" src="https://via.placeholder.com/240x200" alt="card photo">
            <ul class="social__links">
                <li><a class="social__button" href="#"><i class="fas fa-mobile-alt"></i></a></li>
                <li><a class="social__button" href="#"><i class="far fa-envelope"></i></a></li>
                <li><a class="social__button" href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a class="social__button github" href="#"><i class="fab fa-github-alt"></i></a></li>
            </ul>
        </section>
    </div>    
</aside>