<fieldset class=form__fieldset>
        <div class="fieldset__title trigger__share">
            <i class="fas fa-share-alt form__icons"></i>
            <legend class=fieldset__title-text>Comparte</legend>
            <i class="fas fa-chevron-down form__arrow-icons arrow__all"></i>
        </div>
        <div class="form__share hide">
            <button class="button__create">
                <i class="far fa-address-card form__card-icon"></i>
                Crear tarjeta
            </button>
            <div class="card__created hide">
                <h2 class="form__share-subtitle">La tarjeta ha sido creada:</h2>
                <a href="#" class="card__link">Lorem ipsum</a>
                <button class="share__twitter"><i class="fab fa-twitter form__icons-twitter"></i> Compartir en twitter</button>
            </div>  
       </div>
</fieldset>