<fieldset>
    <i class="far fa-object-ungroup"></i>
    <legend>Diseña</legend>
    <p>Colores</p>
    <label for="theme-green">
        <input id="theme-green" type="radio" value="green" name="theme">
        <span class="color-green1">a</span>
        <span class="color-green2">a</span>
        <span class="color-green3">a</span>
    </label>
    <label for="theme-red">
        <input id="theme-red" type="radio" value="red" name="theme">
        <span class="color-red1">a</span>
        <span class="color-red2">a</span>
        <span class="color-red3">a</span>
    </label>
    <label for="theme-grey">
        <input id="theme-grey" type="radio" value="grey" name="theme">
        <span class="color-grey1">a</span>
        <span class="color-grey2">a</span>
        <span class="color-grey3">a</span>
    </label>
</fieldset>