<fieldset class=form__fieldset>
    <div class="fieldset__title trigger__design">
        <i class="far fa-object-ungroup form__icons"></i>
        <legend class=fieldset__title-text>Diseña</legend>
        <i class="fas fa-chevron-up form__arrow-icons arrow1"></i>
    </div>
    <div class="fieldset__theme-container">
        <p class="theme__description">Colores</p>
        <div class="theme-options__container">
        <label class="theme" for="theme-green">
            <input id="theme-green" type="radio" value="1" name="palette" class=theme-radio checked>
            <div class="color-box color-green1"></div>
            <div class="color-box color-green2"></div>
            <div class="color-box color-green3"></div>
        </label>
        <label class="theme" for="theme-red">
            <input id="theme-red" type="radio" value="2" name="palette" class=theme-radio>
            <div class="color-box color-red1"></div>
            <div class="color-box color-red2"></div>
            <div class="color-box color-red3"></div>
        </label>
        <label class="theme" for="theme-grey">
            <input id="theme-grey" type="radio" value="3" name="palette" class=theme-radio>
            <div class="color-box color-grey1"></div>
            <div class="color-box color-grey2"></div>
            <div class="color-box color-grey3"></div>
        </label>
    </div>
</div>
</fieldset>