<fieldset class="form__fieldset">
    <div class=fieldset__title>
        <i class="far fa-keyboard form__icons"></i>
        <legend class=fieldset__title-text>Rellena</legend>
        <i class="fas fa-chevron-up form__arrow-icons"></i>
    </div>
    <div class="fielset__fill-container">
        <label for="name" class="title-label">Nombre completo</label>
        <input type="text" id="name" name="name" placeholder="Ej: Mary Fairfax" class="input-box">

        <label for="position" class="title-label">Puesto</label>
        <input type="text" id="position" name="position" placeholder="Ej: Front-end developer" required class="input-box">

        <label for="profile-picture" class="title-label">Foto de perfil</label>
        <input type="file" id="profile-picture" name ="profile-picture" value="Añadir imagen" required class="input-box">
        <div class="thumbnail"></div>

        <label for="email" class="title-label">Email</label>
        <input type="email" id="email" name="email" placeholder="Ej: mary-fairfax@gmail.com" required class="input-box input-mail">

        <label for="phone" class="title-label">Teléfono</label>
        <input type="tel" id="phone" name="phone" placeholder="Ej: 666-55-44-33" required class="input-box">

        <label for="LinkedIn" class="title-label">LinkedIn</label>
        <input type="text" id="LinkedIn" name="LinkedIn" placeholder="Ej: linkedin.com/in/mary.fairfax" required>

        <label for="Github" class="title-label">Github</label>
        <input type="email" id="Github" name="Github" placeholder="Ej: @mary-fairfax" required>
    </div>
</fieldset>