<fieldset>
    <i class="far fa-object-ungroup"></i>
    <legend>Diseña</legend>
    <p>Colores</p>
    <label class="theme" for="theme-green">
        <input id="theme-green" type="radio" value="green" name="theme" class=theme-radio>
        <div class="color-box color-green1"></div>
        <div class="color-box color-green2"></div>
        <div class="color-box color-green3"></div>
    </label>
    <label class="theme" for="theme-red">
        <input id="theme-red" type="radio" value="red" name="theme" class=theme-radio>
        <div class="color-box color-red1"></div>
        <div class="color-box color-red2"></div>
        <div class="color-box color-red3"></div>
    </label>
    <label class="theme" for="theme-grey">
        <input id="theme-grey" type="radio" value="grey" name="theme" class=theme-radio>
        <div class="color-box color-grey1"></div>
        <div class="color-box color-grey2"></div>
        <div class="color-box color-grey3"></div>
    </label>
</fieldset>