<main class="main__container">
    <h1 class="main__title">Crea tu tarjeta de visita</h1>
    <h2 class="main__subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
    <ul class="main__list">
        <li class="list__item"> 
            <i class="far fa-object-ungroup"></i>
            <p>Diseña</p>
        </li>
        <li class="list__item">
            <i class="far fa-keyboard"></i>
            <p>Rellena</p>
        </li>
        <li class="list__item">
            <i class="fas fa-share-alt"></i>
            <p>Comparte</p>
        </li>
    </ul>
    <a href="#" class="main__btn">Comenzar</a>
</main>
