.button__start{
    display: inline-block;
    width: 129px;
    height: 42px;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #438792;
    border-radius: 21px;
    color: white;
    text-decoration: none;
}