.theme{
    margin:20px 0;
    display:flex;
}
.theme-radio{
    margin-right: 10px;
}
.color-box{
    width:30px;
    height:25px;
}
.color-green1{
    background-color:$color-green700;
}
.color-green2{
    background-color:$color-green400;
}
.color-green3{
    background-color:$color-green100;
}
.color-red1{
    background-color:$color-red700;
}
.color-red2{
    background-color:$color-red400;
}
.color-red3{
    background-color:$color-red100;
}
.color-grey1{
    background-color:$color-grey700;
}
.color-grey2{
    background-color:$color-grey100;
}
.color-grey3{
    background-color:$color-grey400;
}
.title-fieldset{
    color: $color-greyText;
    text-transform: uppercase;
    font-family: $font-primary;
    font-weight: 600;
}
.description{
    color: $color-greyText;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size:0.875; 
}
.title-form{
    display:flex;
    border: 1px solid blue;
}
.far{
    color: $color-orangeIcons;
}
.fas{
    color: $color-orangeIcons;
    align-self: flex-end;
    align-items: center; 
}