*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	font-family: $font-primary;
	font-weight: normal;
	line-height: normal;
	background-color: $color-white100;	
}

.landing__container{
	height: 100vh;
	@include flexColumnCentered ();
	justify-content: flex-end;
	background-color: $color-greyBgcLanding;
	// padding-top: 95px;
}

button{
	background: none;
	font-size: 100%;
	font-family: inherit;
	text-decoration: none;
	border: 0;
	padding: 0;
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}