.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: #fff;
    width: 100%;
    margin-top: 30px;
}

.footer__info {
    color: #6b6b6b;
    font-size: 0.875rem;
}

.footer__logo {
    width: 103px;
    height: 40px;
    margin-top: 11px;
}