.footer__container{
    @include flexColumnCentered ();
    justify-content: center;
    height: 110px;
    background-color: $color-white100;
    width: 100%;
    margin-top: 30px;
}

.footer__info {
    color: $color-greyFooter;
    font-size: 0.875rem;
}

.footer__logo {
    width: 103px;
    height: 40px;
    margin-top: 11px;
}