.header__main {
    height: 111px;
    width: 100%;
    .header__image{
        margin: 30px 40px;
        width: 201px;
        height: 50px;
        @media all and (min-width:768px) {
            margin: 30px 40px;
            width: 201px;
            height: 50px;
        }
    }
}

.header__index {
    display: flex;
    justify-content: center;
    align-items: center;
    //height: 111px;
    padding-bottom: 35px;
    @media all and (min-width:768px){
        padding-bottom: 30px;
    }
    .header__image{
        width: 250px;
        height: 63px;
        @media all and (min-width:768px) {
            width: 419px;
            height: 105px;
        }
    }
}



