.main__container{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.main__title {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: #e17334;

}

.main__subtitle {
    font-size: 0.8125rem;
    color: #114e4e;
    max-width: 265px;
    margin-bottom: 17px;
    text-align: center;
}

.main__list {
    width: 268px;
    height: 74px;
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    font-size: 0.8125rem;
    border: 2px solid rgba(225, 115, 52, 0.2);
    border-radius: 4px;
    margin-bottom: 39px;
}

.list__item {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.far , .fas {
    font-size: 1.375rem;
    color: #e17334;
}