.main__container{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.main__title {
    font-family: $font-secondary;
    font-weight: 900;
    font-size: 1.25rem;
    color: $color-orangeIcons;

    @media all and (min-width:768px){
        font-size: 1.5rem;
    }
}

.main__subtitle {
    font-size: 0.8125rem;
    color: $color-green700;
    max-width: 265px;
    margin-bottom: 17px;
    text-align: center;

    @media all and (min-width:768px){
        font-size: 1rem;
        max-width: 335px;
    }
}

.main__list {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    font-size: 0.8125rem;
    border: 2px solid rgba(225, 115, 52, 0.2);
    border-radius: 4px;
    margin-bottom: 39px;

    @media all and (min-width:768px){
        font-size: 1rem;
        width: 100%;
        height: 86px;
        margin-bottom: 196px;
    }
}

.list__item {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.far , .fas {
    font-size: 1.375rem;
    color: $color-orangeIcons;

    @media all and (min-width:768px){
        font-size: 1.75rem;
    }
}