$color-green700: #114e4e;
$color-green400: #438792;
$color-green100: #a2deaf;

$color-red700:#420101;
$color-red400:#bd1010;
$color-red400: #e95626;

$color-grey700:#3e5b65;
$color-grey400:#a0c0cf;
$color-grey100:#dfe5eb;

$color-black700: #000000;
$color-white100:#ffffff;

$color-orangeIcons:#e17334; 
$color-greyText: #54585a; 







