$color-green700: #114e4e;
$color-green400: #438792;
$color-green100: #a2deaf;

$color-red700:#420101;
$color-red400:#bd1010;
$color-red400: #e95626;

$color-grey700:#3e5b65;
$color-grey400:#a0c0cf;
$color-grey100:#dfe5eb;

$color-black700: #000000;
$color-white100:#ffffff;

$color-orangeIcons:#e17334; 
$color-blueTwitter:#00a0f5;

$color-greyText: #54585a; 
$color-greyFooter:#6b6b6b; //letra de footer;
$color-greyCreat:#d5d5d5; //crear tarjeta
$color-greyBack400:#bfcdd0; //fondo de la foto
$color-greyBack100: #dde9ed; //fondo de la foto














