$color-green700: #114e4e; //tmb letra de formulario
$color-green400: #438792;
$color-green100: #a2deaf; //tmb cajas de formulario

$color-red700:#420101;
$color-red400:#bd1010;
$color-red100: #e95626;
$color-red50: #eaab96;

$color-grey700:#3e5b65;
$color-grey400:#a0c0cf;
$color-grey100:#dfe5eb;

$color-black700: #000000;
$color-white100:#ffffff;

$color-orangeIcons:#e17334; 
$color-blueTwitter:#00a0f5;

$color-greyText: #54585a; //letra texto
$color-greyFooter:#6b6b6b; //letra de footer;
$color-greyCreat:#d5d5d5; //crear tarjeta
$color-greySeparator: #d8d8d8; //línea separadora de secciones del formulario
$color-greyBgcLanding: #f5f5f5; //fondo landing page
$color-greyBgc400:#bfcdd0; //fondo de la foto
$color-greyBgc100: #dde9ed; //fondo de la foto

$font-primary: 'Open Sans', sans-serif; 
$font-secondary: 'Montserrat', sans-serif;















